resource_group_name = "rg-<project>-<region>"
location            = "japaneast"
vnet_name           = "vnet-<project>-<region>"
address_space       = ["10.0.0.0/16"]
subnet_name         = "snet-<project>-<region>"
subnet_prefixes     = ["10.0.1.0/24"]

tags = {
  environment = "dev"
  project     = "<project-name>"
  owner       = "<your-name>"
}